

<div class="title"><h1>Users I Have Access To</h1></div>

<div class="items">
<% if current_user.receivers.any? %>
    <% current_user.receivers.each do |receiver| %>
    <tr>
    <td><%= receiver.name %></td> |
    <td><%= receiver.address %></td>
    <%= form_for(current_user.active_relationships.find_by(receiver_id: receiver.id),
             html: { method: :delete }) do |f| %>
  <%= f.submit "Delete Access", class: "btn" %>
<% end %>
    <br>
</tr>
    <% end %>
</div>
<%end%><div class="title">
    <h2> Users I've Given Access To </h2>
    </div>
    <div class="items">
    <% if current_user.donors.any? %>
    <% current_user.donors.each do |donor| %>
    <tr>
    <td><%= donor.name %></td> 
   <div><%= hidden_field_tag :receiver_id, current_user.id %></div>
   <div><%= hidden_field_tag :donor_id, donor.id %></div>
   <%= form_for(current_user.passive_relationships.find_by(donor_id: donor.id, receiver_id: current_user.id),
             html: { method: :delete }) do |f| %>
   <%= f.submit "Delete Access", class: "btn" %>
<% end %>
    <br>
</tr>
    <% end %>
<%end%>
</div>
