<!--modified from railstutorial.org on 4/22/19-->

<% provide(:title, @user.name)%>
<div class="user">
  <aside class="col-md-4">
  
      <h2>
       <div class="row">
        <%= gravatar_for @user %><br>
    
        <%= @user.name %> </div>
      </h2>
</div>
<section>
<div class="user">
      <h3>
    <%if (current_user.id == @user.id) && logged_in?%>
    <%else%>
     <% if current_user.receivers?(@user)%>

     <%= form_for(current_user.active_relationships.find_by(donor_id: current_user.id, receiver_id: @user.id),
             html: { method: :delete }) do |f| %>
     <%= f.submit "Delete My Access to this User", class: "btn" %>
     <%end%>
     <%else%>

      <%= button_to 'Request Access to this User', conversations_new_access_con_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', :class => "button"%>
      <% end %>

     <% if current_user.donors?(@user) %>

     <%= form_for(current_user.passive_relationships.find_by(receiver_id: current_user.id, donor_id: @user.id),
             html: { method: :delete }) do |f| %>
     <%= f.submit "Delete User Access to Me", class: "btn" %>
     <%end%>
     <%else%>

    <%= button_to 'Give this User Access Me', relationships_path(receiver_id: current_user.id, donor_id: @user.id), method: 'post', :class => "button"%>
     <%end%>
    <%= button_to 'Message Me', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', :class => "button"%>



    <%end%></h3>
</div>
</section>
  
<section>
<div class="lists">
      <h2>  Items Needed </h2>
      <div align="right">
      <% @user.items.each do |item| %>
    <tr><div class ="row">
      <%if(item.extra == false) %>
    <td><%= item.name %></td>&nbsp; &nbsp;
    <td><%= item.description %></td><br>
    <%end%></div>
<%end%></div>
<br>
</tr>


     <h2>  Items to Be Donated </h2>
     <% @user.items.each do |item| %>
    <div align="right">
    <div class="row"> 
    <tr>
     <% if(item.extra == true) %>
      <td><%= item.name %></td>&nbsp; &nbsp;
    <td><%= item.description %></td><br>
<% end %></div>
  </div>
</tr>

<% end %>

</div>
   <% if current_user?(@user) %>
   <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
   <%end%>
  </aside>
     <!--if user has any microposts, show them-->
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</h3>
</section>

